extends layout

block content
    .inner 
        form(method="POST" class= 'form card')
            h2 Add Airplaine
            label(for="name") Name
            input(type="text" name='name' required)
            label(for="capacity") Capacity
            input(type="number" name='capacity' required)
            input(type="submit" value='Save Airplane' class='button save' name='save')