extends layout


//- ako forma nema action onda je action kao trenutni URL
block content
    .inner 
        form.form(method='POST') 
            h2 Change Your Password
            label(for="Oldpassword") Old Password
            input(type="password" name='Oldpassword' required)
            label(for="password") New Password
            input(type="password" name='password' required)
            label(for="password-confirm") Confirm New Password
            input(type="password" name='password-confirm' required)
            input.button(type="submit" value="Reset Password")